body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #666699;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header p {
    margin: 0;
    font-size: 18px;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #888;
}

.contacto h2,
.experiencia h2,
.educacion h2,
.habilidades h2 {
    font-size: 24px;
    margin-top: 0;
}

.experiencia article,
.educacion article {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #0077cc;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #666699;
    color: #fff;
}

section {
    position: absolute;
    height: 0;
    width: auto;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
    box-shadow: 0px 0px 5px 0px #888;
}

section.active {
	position: unset;
	height: auto;
	overflow: visible;
	opacity: 1;
	visibility: visible;
    transform: translateY(0px);
}

section:first-child.active {
    display: block;
}


.menu {
    flex: 1;
    display: inline;
    padding: 5px 10px;
    background-color: #666699;
    border: none;
    cursor: pointer;
    font-size: 1.5vw;


}

.menu:hover {
    background-color: #0056b3;

}

.menu a {
    color: white;
    font-weight: bolder;
    text-decoration: none;

}

.container-menu {
    display: flex;
    width: 100%;
    padding-left: 0px;
}

#info-box {
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.patata:hover + #info-box {
    display: block;
}
